.inputField {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.inputText {
  padding: 0.5rem;
  margin-right: 0.75rem;
  border: 1px solid #555;
  border-radius: 2px;
  max-width: 300px;
  width: 100%;
}

.inputButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
}
